/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
.header {
  background-color: gray;
  padding: 10px 0;
}

.header img {
  height: 60px;
  vertical-align: middle;
}

.header span {
  font-size: 20px;
  vertical-align: middle;
}
