/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
  width: 80%;
  margin: 0 auto;
}

.padding-y-10 {
  padding: 10px 0;
}

/* HEADER */
.header {
  background-color: gray;
}

.header img {
  height: 60px;
  vertical-align: middle;
}

.header span {
  font-size: 20px;
  vertical-align: middle;
}

/* MAIN */
.main-section {
  border-bottom: 1px solid darkblue;
}

.accent {
  font-size: 20px;
}

.circle {
  display: inline-block;
  background-color: orange;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
}

.email-list {
  list-style: none;
}

.email-list .content {
  color: gray;
}

.email-list li {
  background-color: lightgrey;
  padding: 5px 0;
  border-bottom: 1px solid gray;
}

.email-list .opened {
  background-color: white;
}

.author {
  text-align: center;
}
